version: "3"
services:
  mbztool:
    image: tna76874/mbztool:latest
    build:
        context: .
    container_name: ${COMPOSE_PROJECT_NAME}
    ports:
     - "127.0.0.1:${TCPPORT}:5000"
    environment:
     - LOG_LEVEL=info
     - UPLOAD_LIMIT_GB=${UPLOAD_LIMIT_GB}
    restart: unless-stopped
