<!DOCTYPE html>
<html>
    <title>mbztool - Moodle Converter</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<style>
body, html {height: 100%}
.bgimg {
  background-image: url('image.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg">
    <div class="display-topleft">
        <img src="/static/logo.svg" alt="mbz2zip" width="170" height="100">
    </div>
    <div class="display-middle">
        <h3> select moodle-backup-file (.mbz file ending): </h3>
        <form action = "/upload" method = "post" enctype="multipart/form-data">  
            <input type="file" name="file" />  
            <input type = "submit" value="convert">  
        </form>
    </div>
    <div class="display-bottomright">
        <p>For details please study the <a href="https://github.com/tna76874/mbztool" target="_blank">source code</a>.</p>
    </div>
</div>

</body>
</html>